/* General stylying */

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);
}

/* transitions */

a, .btn {
    transition: all 300ms ease;
}

/* desktop nav */

nav, .nav-links {
 display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white ;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

.logo {
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}

/* hamburger menu */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

.hero-section {
    padding: 64px 64px 64px 64px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.left-content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}
.text-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

.text-content > h1 {
    line-height: 1.2;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}

.text-content > p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.left-content > a {
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: none;
    vertical-align: middle;
    border-radius: 60px;
    border: 2px solid;
    background-color: darkolivegreen;
    padding: 1.25rem 1.5rem 1.25rem 1.5rem;
    line-height: 1.25;
    font-weight: 500;
}

img {
    width: 500px;
    height: 600px;
    object-fit: cover;
}